---
layout: default
title: Contact
banner_image: /uploads/dsc04498.jpg
banner_label: >-
   Glamping Paradise : Luxurious Eco-Friendly Retreat with Pool in a Serene
   Natural Setting
seo:
   title: Contact Dejama Glamping Resort, Lombok
   description: >-
      Get in touch with Dejama Glamping Resort Lombok: contact details,
      location, and customer support
   keywords:
      - dejama
      - Dejama Glamping
      - Dejama Glamping Resort
      - Sustainable Living
      - Slow Living Retreat
      - Lombok Resort
      - Eco-Friendly Resort
      - Sustainable
      - Lombok, Indonesia
      - South Lombok
      - Glamping
      - Lombok Bungalow
      - Sustainable Travel
      - Kuta Travel
      - Dondon
      - Tanjungaan
      - Kuta
      - Glamping Tent Indonesia
      - Glamping Tent Lombok
      - Glamping Tent Kuta
      - Green Retreat Indonesia
      - Green Retreat Lombok
      - Farm to Table
      - Outdoor Escape Lombok
      - Outdoor Escape Indonesia
      - Sustainable Luxury
      - Sustainable Luxury Lombok
      - Lombok Holiday
      - Indonesia Travel
      - Dondon Beach
      - Sustainable Resort
      - Sustainable Travel
      - Resort Stay Lombok
      - Indonesian Holiday
      - Dondon Beach Holiday
      - Glamping Resort Holiday
      - Eco-Friendly Resort
      - Slow Living
      - Eco-Friendly Holiday
      - Eco-Friendly
      - Twin Cabin
      - Dejama Contact
      - Dejama Email
      - Dejama Phone Number
      - Dejama Number
      - Dejama Location
      - Dejama Help
      - Dejama FAQ
   social_image: /uploads/dsc04499.jpg
   hide-from-google: false
---
<!----------------HEADER---------------------->

<section class="flex justify-center items-center min-h-screen bg-cover bg-center" style="background-image: linear-gradient(rgba(20, 18, 1, 0.04), rgba(20, 18, 1, 0.08)), url('{{page.banner_image}}');" aria-label="{{page.banner_label}}">

	<div class="text-center">
		<h2 class="font-thin text-light text-6xl sm:text-8xl md:text-9xl uppercase"> Contact </h2>
	</div>

	  <!-- small bouncing dot at the bottom of the -->
	<div class="absolute bg-white bottom-5p left-[cacl(50% - 1rem)] w-8 h-8 rounded-full bouncing-animation">
    </div>

</section>


<!-------------CONTACT FORM--------------------->

<div class="max-w-screen-2xl mx-auto">
<div class="lg:grid lg:grid-cols-2 pt-15p sm:pt-10p lg:px-2p gap-9">
    <!-- Contact form -->
    <div class="col-span-1 pr-5p px-2p lg:px-0 ">

        <p class="uppercase text-2xl pb-2p"> Contact us </p>
        <p class="pb-5p editable"> Please do not hesitate to contact us. </p>

        <form name="contact" method="POST" action="/thankyou.html" data-netlify="true" class="grid mx-auto rounded-lg">
            <label for="name" class="block text-sm font-semibold text-dark">Name</label>
            <input type="text" name="name" id="name" placeholder="Your Name" aria-label="Name" class="outline-none py-1 pl-[2%] custom-box-shadow border border-gray-300 rounded-md" />
        
            <label for="email" class="block pt-2p text-sm font-semibold text-dark">Email</label>
            <input type="email" name="email" id="email" placeholder="Your Email" aria-label="Email" class="outline-none py-1 pl-[2%] custom-box-shadow border border-gray-300 rounded-md" />
        
            <label for="message" class="block pt-2p text-sm font-semibold text-dark">Message</label>
            <textarea rows="8" name="message" id="message" placeholder="Your Message" class="py-1 w-full custom-box-shadow pt-[2%] pl-[2%] border border-gray-300 rounded-md"></textarea>
        
            <input type="hidden" name="form-name" value="contact" />
            <input type="hidden" name="redirect" value="/thankyou.html" />
        
            <div class="flex justify-center mt-5p mb-10p sm:mb-0 md:mb-5p lg:mb-0">
                <button type="submit" class="button">Send</button>
            </div>
        </form>
        

    </div>

<!-- Picture and details -->
<div class="col-span-1 mt-5p md:mt-0">
    <div class="lg:grid lg:grid-cols-3 lg:gap-1">
        <!-- Info Box --> 
        <div class="col-span-2 bg-beige p-5p flex items-center">
            <nav class="grid gap-y-5p w-full">
                <!-- Icon and Info Row 1 -->
                <div class="grid grid-cols-4 gap-x-5p items-center pb-2p">
                    <div class="col-span-1 text-center">
                        <i class="fa-regular fa-envelope"></i>
                    </div>
                    <div class="col-span-3">
                        <a href="mailto:info@dejamaresort.com" target="_blank" class="editable" aria-label="Send an email to info@dejamaresort.com">info@dejamaresort.com</a>
                    </div>
                </div>
        
                <!-- Icon and Info Row 2 -->
                <div class="grid grid-cols-4 gap-x-5p items-center pb-2p">
                    <div class="col-span-1 text-center">
                        <i class="fa-solid fa-phone"></i>
                    </div>
                    <div class="col-span-3">
                        <a href="tel:+6285939549442" target="_blank" class="editable" aria-label="Call us">+62 859 3954 9442</a>
                    </div>
                </div>
        
                <!-- Icon and Info Row 3 -->
                <div class="grid grid-cols-4 gap-x-5p items-center pb-2p">
                    <div class="col-span-1 text-center">
                        <i class="fa-brands fa-whatsapp"></i>
                    </div>
                    <div class="col-span-3">
                        <a href="https://wa.me/6285939549442" target="_blank" class="editable" aria-label="Send a WhatsApp message">+62 859 3954 9442</a>
                    </div>
                </div>
        
                <!-- Icon and Info Row 4 -->
                <div class="grid grid-cols-4 gap-x-5p items-center pb-5p">
                    <div class="col-span-1 text-center">
                        <i class="fa-solid fa-location-dot"></i>
                    </div>
                    <div class="col-span-3">
                        <a href="https://maps.app.goo.gl/xrTmnkAHeEcFcEH56" target="_blank" class="editable" aria-label="Find us here">
                            Jl. Mertak, Mertak, Kec. Pujut, Kabupaten Lombok Tengah, Nusa Tenggara Bar. 83573
                        </a>
                    </div>
                </div>
            </nav>
        </div>

        <!-- Picture for small screens -->
        <img loading="lazy" src="/uploads/dsc07431.jpg" class="editable hidden sm:block object-cover object-center w-full h-64 lg:h-56 mt-10p lg:mt-0" srcset="/uploads/dsc07431.jpg 1x, /uploads/dsc07431-2x.jpg 2x" alt="The Dejama View from the Hill." style="object-position: 50% 52%;" title="View of the Property" />

        <!-- Picture -->
        <div class="col-span-3 hidden lg:block">
            <img loading="lazy" src="/uploads/dsc04696.jpg" class="editable object-cover w-full h-56 ml-2p lg:ml-0" srcset="/uploads/dsc04696.jpg 1x, /uploads/dsc04696-2x.jpg 2x" alt="Hands carefully harvesting leaves from a plant in a lush, green garden." title="Harvesting Nature's Bounty" />
        </div>
    </div>
</div>
</div>

</div>

<!------Google Map----->

<div class="max-w-screen-2xl mx-auto flex justify-center items-center google-map my-20p sm:my-0">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7883.67453190604!2d116.35439664137446!3d-8.894717464645263!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2dcd0139973f34e1%3A0xce2cfd89821dcf57!2sDEJAMA%20GLAMPING%20RESORT%20LOMBOK!5e0!3m2!1sen!2sid!4v1724639039903!5m2!1sen!2sid" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>

    

<!------How to get here----->

<div class="max-w-screen-2xl  mx-auto  pb-5p sm:pb-0 ">
	<h4 class="uppercase text-2xl px-2p pb-2p editable">How to get here</h4>




	<!------By plane----->

	<section class="pb-2p">
		<div>
			{% include accordion-flight.html %}
		</div>
	</section>

	<!------By boat----->

	<section class="pb-2p">
		<div>
				{% include accordion-boat.html %}
		</div>
	</section>

	<!------By car----->

	<section class="sm:pb-2p">
		<div>
				{% include accordion-car.html %}
		</div>
	</section>


</div>

<!----------Image------->

<div class="max-w-screen-2xl  mx-auto  mt-5p">

    <img loading="lazy" src="/uploads/dsc02634-2.jpg" class="editable object-cover w-full h-60 mb-2p" srcset="/uploads/dsc02634-2.jpg 1x, /uploads/dsc02634-2-2x.jpg 2x" alt="Vibrant Yellow Marigold Flowers from the garden" title="Marigold Flower" />

</div>

{% include whatsapp.html %}