---
layout: default
title: Dejama Glamping Resort, Lombok
banner_image: /uploads/dsc02250-1.jpg
banner_label: Quick description of the banner image
property_1_background_position: bottom center
seo:
   title: Dejama Glamping Resort, Lombok
   description:
   keywords:
   social_image:
   hide-from-google: true
roomssmall:
   -
      title: Glamping
      url: /lodging.html#glamping
      image: /uploads/dsc02203-1.jpg
      label: Description of image
      feature1: Sleeps 2 or 3
      feature2: Pool view
   -
      title: Bungalow
      url: /lodging.html#bungalow
      image: /uploads/dsc02695-1.jpg
      label: Description of image
      feature1: Sleeps 2
      feature2: Garden view
   -
      title: Twin Cabin
      url: /lodging.html#cabin
      image: /uploads/dsc02613-1.jpg
      label: Description of image
      feature1: Sleeps 2 or 4
      feature2: Garden view
roomsbig:
   -
      title: Glamping
      url: /lodging.html#glamping
      image: /uploads/dsc02203.jpg
      label: Description of image
      description: >-
         Our luxurious and comfortable unique glamping tents blend in nature
         with today’s modern comfort. Freshen up in your private tropical
         outdoor bathroom. Located around the swimming pool, the glamping tents
         offer a balance between adventure and comfort.
   -
      title: Bungalow
      url: /lodging.html#bungalow
      image: /uploads/dsc02695.jpg
      label: Description of image
      description: >-
         Our traditionally crafted ensuite bungalows are immersed in a beautiful
         natural setting. Overlooking our agroforest, these rooms will cater for
         those seeking a peaceful getaway with a touch  of local charm and
         modern comforts.
   -
      title: Twin Cabin
      url: /lodging.html#cabin
      image: /uploads/dsc02613.jpg
      label: Description of image
      description: >-
         The Twin Cabin Suite is surrounded by lush gardens. It includes 2
         ensuite bedrooms and a lounge designed in a recycled shipping
         container. Our locally sourced furnishings create a distinctive and
         memorable experience for guests seeking a blend of style and
         environmental responsibility.
property:
   -
      image_1: /uploads/dsc02705.jpg
      label_1: Description of image
      image_1_background_position: left bottom
      image_2: /uploads/dsc02208.jpg
      label_2: Description of image
      image_2_background_position: left bottom
      image_3: /uploads/dsc02634-1.jpg
      label_3: Description of image
      image_3_background_position: left bottom
      image_4: /uploads/dsc02308.jpg
      label_4: Description of image
      image_4_background_position: left bottom
      image_5: /uploads/dsc02463.jpg
      label_5: Description of image
      image_5_background_position: left bottom
      image_6: /uploads/dsc02531.jpg
      label_6: Description of image
      image_6_background_position: left bottom
restaurant:
   -
      title: Breakfast
      description: >-
         Discover our breakfast menu, packed with deliciousness to start your
         day off feeling refreshed and ready for a day full of adventure or
         relaxation. Our ingredients are locally sourced, with all our fruit
         coming from our agroforest and other local farms. Enjoy our free range
         eggs , you might even meet some of our own chickens !
      image_1: /uploads/whatsapp-image-2024-07-10-at-14-21-39-1.jpeg
      label_1: Description of image
      image_2: /uploads/whatsapp-image-2024-07-10-at-14-21-39-2.jpeg
      label_2: Description of image
   -
      title: Lunch
      description: >-
         Our lunch offering includes delightful picnic baskets, providing
         everything you need to enjoy a nutritious meal on the beach or wherever
         your adventure takes you.
      image_1: /uploads/whatsapp-image-2024-07-10-at-14-11-11.jpeg
      label_1: Description of image
      image_2: /uploads/whatsapp-image-2024-07-10-at-14-12-16.jpeg
      label_2: Description of image
   -
      title: Dinner
      description: >-
         Enjoy a fine dining experience in our beautiful restaurant nestled in
         the middle of the gardens. We hope you have an amazing evening
         discovering new flavours from our daily harvests. Every dish is a
         celebration of quality, sustainability and community.
      image_1: /uploads/img-6992.jpg
      label_1: Description of image
      image_2: /uploads/img-6978.jpg
      label_2: Description of image
activity_1:
   -
      title: Picnic
      image: /images/temp-landscape.jpg
      label: Description of image
      description: >-
         Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe maiores
         mollitia ipsum reprehenderit! Tempora cupiditate eligendi vel eaque
         culpa nam accusamus ex, aliquam aliquid voluptatem, unde, magni magnam
         provident aut!
activity_2:
   -
      title: Yoga
      image: /images/temp-landscape.jpg
      label: Description of image
      description: >-
         Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe maiores
         mollitia ipsum reprehenderit! Tempora cupiditate eligendi vel eaque
         culpa nam accusamus ex, aliquam aliquid voluptatem, unde, magni magnam
         provident aut!
activity_3:
   -
      title: Spa
      image: /images/temp-landscape.jpg
      label: Description of image
      description: >-
         Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe maiores
         mollitia ipsum reprehenderit! Tempora cupiditate eligendi vel eaque
         culpa nam accusamus ex, aliquam aliquid voluptatem, unde, magni magnam
         provident aut!
activity_4:
   -
      title: Cooking Class
      image: /images/temp-landscape.jpg
      label: Description of image
      description: >-
         Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe maiores
         mollitia ipsum reprehenderit! Tempora cupiditate eligendi vel eaque
         culpa nam accusamus ex, aliquam aliquid oluptatem, unde, magni magnam
         provident aut!
garden:
   -
      image_1: /uploads/img-6832-small.jpeg
      label_1: Description of image
      image_1_background_position: left bottom
      image_2: /uploads/img-6829-small.jpeg
      label_2: Description of image
      image_2_background_position: left bottom
      image_3: /uploads/img-6827-small.jpeg
      label_3: Description of image
      image_3_background_position: left bottom
solar:
   -
      image_1: /images/temp-landscape.jpg
      label_1: Description of image
      image_1_background_position: left bottom
container:
   -
      image_1: /uploads/img-6835-small.jpeg
      label_1: Description of image
      image_1_background_position: left bottom
      image_2: /uploads/img-6841-small.jpeg
      label_2: Description of image
      image_2_background_position: left bottom
---
<!----------------HEADER---------------------->

<section class="bg-cover bg-center" style="background-image: linear-gradient(rgba(20, 18, 1, 0.6), rgba(20, 18, 1, 0.9)), url('{{page.banner_image}}');" aria-label="{{page.banner_label}}">
	<div class="max-width relative flex justify-center items-center min-h-screen">

		<div class="text-center flex flex-col items-center justify-center">
			<div class="size-44 sm:size-60">
				<img src="/images/dejama-logo-text-light.svg" />
			</div>
		</div>
				
			<!-- small bouncing dot at the bottom of the header -->
			<div class="absolute bottom-5 left-1/2 transform -translate-x-1/2 bg-white w-8 h-8 rounded-full bouncing-animation">
			</div>
			
	</div>
</section>



<!----------------INTRO BANNER----------------->

<div>
	<div class="max-width py-15p sm:py-10p px-2p sm:p-10p">

		<h1 class="text-center uppercase text-2xl pb-5p sm:pb-2p editable"> Welcome to Dejama Glamping Resort, Lombok. </h1>

		<p class="text-center text-balance editable"> From the tranquil rustle of leaves to the starlit skies above, every detail has been crafted to immerse you in a world of comfort and wonder. </p>
	</div>
</div>



<!----------------ROOMS 3 OPTIONS----------------->

<div class="bg-grey">

	<div class="max-w-screen-2xl mx-auto py-15p sm:py-10p">

		{% include rooms-small-screen.html %}

		<!----------------For large screens----------------->

		{% include rooms-large-screen.html %}
	

	
	</div>
</div>




<!----------------PROPERTY----------------->

<div class="max-w-screen-2xl mx-auto py-15p sm:py-10p px-2p" id="property">
    <h4 class="uppercase text-4xl sm:text-7xl lg:text-8xl font-semibold"> The Property </h4>
    <p class="pb-2p pt-2p sm:pt-0 editable"> Our oasis is nestled within the natural beauty of South Lombok. The proximity to Dondon Beach, just a short 800-metre walk away, offers our  guests a wonderful opportunity to immerse themselves in the stunning coastal environment. Whether it's lounging on the beach, surfing the waves, or exploring the surrounding area.</p>	
	
	<!------Drop down----->
		<div class="col-span-full ">
					{% include accordion-property.html %}
		</div>

		{% include property-image-gallery.html %}


</div>

<!----------------RESTAURANT----------------->


<div class=" bg-grey " id="restaurant">

<div class="max-w-screen-2xl mx-auto py-15p sm:py-10p px-2p">
	<h4 class="text-4xl sm:text-7xl lg:text-8xl font-semibold uppercase md:pl-0"> The Restaurant </h4>

	<p class="pb-5p pt-2p sm:pt-0 editable">
	    Nestled in the heart of our property lies a rustic haven for food enthusiasts - our open-air restaurant, where the warm embrace of wood and the gentle sway of alang-alang roofs welcome you to a unique dining experience. Surrounded by the lush greenery of our gardens, immerse yourself in nature's embrace as you indulge in a culinary journey unlike any other.
	</p>

	{% include restaurant-list.html %}

	

</div>
</div>



<!--------Activities with popout-------->

<div class="py-15p sm:py-10p sm:px-2p" id="activities">
  <div class="max-w-screen-2xl mx-auto grid grid-cols-2 md:grid-cols-7 md:grid-rows-2">
        <div class="col-span-2 md:col-span-1 md:row-span-2 md:relative md:flex md:justify-center md:items-start">
            <h4 class="md:[writing-mode:vertical-rl] md:rotate-180 text-4xl sm:text-7xl lg:text-8xl font-semibold uppercase m-0 pl-2p sm:pl-0 md:p-0"> Activities </h4>
        </div>

		    {% include activities.html %}

        <div class="col-span-full">
          <p class="text-center pt-5p pb-2p"> Reach out directly to get more information about our activities and book. </p>
        </div>
        
        <div class="col-span-full text-center ">
          <a href="/contact.html" target="" class="button"> Get in touch today </a>
        </div>
        
  </div>   
</div>   







<!----------------SUSTAINABILITY----------------->


<div class="bg-grey " id="sustainability">
    <div class="max-w-screen-2xl mx-auto py-15p sm:py-10p px-2p">
        <h4 class="text-4xl sm:text-7xl lg:text-8xl font-semibold uppercase pb-2p sm:pb-0"> Sustainability </h4>

        <p class="pb-2p 2xl:pb-0 editable"> Our property welcomes eco-conscious travellers seeking both luxury and sustainability while relaxing in South Lombok's natural surroundings.</p>

        <p class="pb-2p 2xl:pb-0 editable"> By using traditional building materials , we added to the authenticity of the place but also helped in preserving local culture and reducing environmental impact.</p>

        <p class="pb-2p 2xl:pb-0 editable"> The incorporation of a luxurious tropical garden adds another layer of beauty to our property. We integrated some waste water gardens into the landscape, showcasing our commitment to eco-friendly practices.
        </p>
	
	<!------Garden---------->

	    <div class="grid grid-cols-4 gap-1 md:grid-cols-5 py-5p mb-5p sm:mb-0">

            <div class="col-span-4 block md:hidden ">
                <h4 class="pt-5p pb-0p uppercase text-2xl"> Garden </h4>
            </div>

            {% for item in page.garden %}
            <div class="col-span-1 bg-cover bg-no-repeat object-cover min-h-30 sm:min-h-40" style="background-image: url({{ item.image_1 }}); background-position: {{ item.image_1_background_position }};" aria-label="{{ item.label_1 }}"></div>
            <div class="col-span-1 bg-cover bg-no-repeat object-cover min-h-30 sm:min-h-40" style="background-image: url({{ item.image_2 }}); background-position: {{ item.image_2_background_position }};" aria-label="{{ item.label_2 }}"></div>
            <div class="col-span-2 md:col-span-1 bg-cover bg-no-repeat object-cover min-h-30 sm:min-h-40" style="background-image: url({{ item.image_3 }}); background-position: {{ item.image_3_background_position }};" aria-label="{{ item.label_3 }}"></div>
        {% endfor %}
        


            <div class="col-span-4 md:col-span-2 flex flex-col h-full justify-end">
                <h4 class="hidden md:block p-5p uppercase text-2xl"> Garden </h4>
                <p class="pt-2p md:px-5p editable"> Welcome to Dejama's organic garden and eco-forest! We take pride in offering you a unique dining experience where the journey from garden to plate is seamless. Our commitment to sustainability and quality is reflected in every aspect of our operation. </p>
            </div>

			<!------Drop down----->

            <div class="col-span-full">
                    {% include accordion-garden.html %}
            </div>

	</div>


	<!------Solar Power---------->

	<div class="md:grid md:grid-cols-5 mb-5p sm:mb-0">

		<div class="block md:hidden ">
			<h4 class="uppercase text-2xl sm:pt-5p"> Solar Power </h4>
		</div>

    {% for item in page.solar %}
		<div class="col-span-1 bg-cover min-h-40" style="background-image:url({{ item.image_1 }}); background-position: {{ item.image_1_background_position }};" aria-label="{{ item.label_1 }}"></div>
    {% endfor %}

		<div class="col-span-4 flex flex-col h-full justify-end">
			<h4 class="p-5p uppercase text-2xl hidden md:block"> Solar Power </h4>
			<p class="pt-2p md:px-5p editable">
			    At Dejama's, sustainability is at the core of everything we do, and our commitment extends beyond just our culinary offerings. We are proud to power our resort with clean, renewable energy from the sun.
			</p>
		</div>

			<!------Drop down----->

		<div class="col-span-full">
			{% include accordion-solar.html %}
		</div>

	</div>

	<!------Container Buildings---------->

	<div class="grid gap-1 grid-cols-2 md:grid-cols-4 pt-5p">
	
		<div class="col-span-2 flex flex-col h-full justify-end">
			<h4 class="md:p-5p uppercase text-2xl sm:pt-5p"> Container Buildings </h4>
			<p class="px-5p hidden md:block editable"> At Dejama's, we're proud to share that the recycled shipping containers used to create our reception area, kitchen, bar, and public restrooms were sourced from Indonesia. </p>
		</div>

    {% for item in page.container %}
		<div class="col-span-1 bg-cover min-h-25 sm:min-h-40" style="background-image:url({{ item.image_1 }}); background-position: {{ item.image_1_background_position }};" aria-label="{{ item.label_1 }}"></div>
		<div class="col-span-1 bg-cover min-h-25 sm:min-h-40" style="background-image:url({{ item.image_2 }}); background-position: {{ item.image_2_background_position }};" aria-label="{{ item.label_2 }}"></div>
    {% endfor %}
	

		<div class="col-span-2">
			<p class="pb-0 pt-2p block md:hidden editable"> At Dejama's, we're proud to share that the recycled shipping containers used to create our reception area, kitchen, bar, and public restrooms were sourced from Indonesia. </p>
		</div>

			<!------Drop down----->

			<div class="col-span-full">
				{% include accordion-container.html %}
			</div>

	</div>
</div>	
		
	</div>


{% include whatsapp.html %}