---
layout: default
title: Lodging
banner_image: /uploads/dejama-glamping-by-the-pool.jpg
banner_label: ' Tranquil tropical glamping retreat , offering you a serene escape in a vibrant tropical setting'
seo:
   title: Lodging at Dejama Glamping Resort, Lombok
   description: >-
      Explore Dejama's lodging options: serene eco-friendly bungalows and
      luxurious glamping tents located in Lombok's beautiful nature.
   keywords:
      - dejama
      - Dejama Glamping
      - Dejama Glamping Resort
      - Sustainable Living
      - Slow Living Retreat
      - Lombok Resort
      - Eco-Friendly Resort
      - Sustainable
      - Lombok, Indonesia
      - South Lombok
      - Glamping
      - Lombok Bungalow
      - Sustainable Travel
      - Kuta Travel
      - Dondon
      - Tanjungaan
      - Kuta
      - Glamping Tent Indonesia
      - Glamping Tent Lombok
      - Glamping Tent Kuta
      - Green Retreat Indonesia
      - Green Retreat Lombok
      - Farm to Table
      - Outdoor Escape Lombok
      - Outdoor Escape Indonesia
      - Sustainable Luxury
      - Sustainable Luxury Lombok
      - Lombok Holiday
      - Indonesia Travel
      - Dondon Beach
      - Sustainable Resort
      - Sustainable Travel
      - Resort Stay Lombok
      - Indonesian Holiday
      - Dondon Beach Holiday
      - Glamping Resort Holiday
      - Eco-Friendly Resort
      - Slow Living
      - Eco-Friendly Holiday
      - Eco-Friendly
      - Twin Cabin
      - Serene Agro-Forest Garden
      - Agro-Forest Garden
      - Tranquil Escape
      - Peaceful Retreat
      - Traditional Craftsmanship
      - Private Sanctuary
      - Rustic Elegance
      - Contemporary Luxury Resort
      - Recycled Shipping Container
      - Lombok Holiday Pool
      - Swimming Pool Lombok
   social_image: /uploads/dsc02203.jpg
   hide-from-google: false
roomssmall:
   -
      title: Glamping
      url: /lodging.html#glamping
      image: /uploads/dejama-glamping-tent-1.jpg
      image-position: 50% 50%
      label: Glamping tent nestled in the greenery and overlooking the pool
      feature1: Sleeps 2 or 3
      feature2: Pool view
   -
      title: Bungalow
      url: /lodging.html#bungalow
      image: /uploads/dsc04759-1.jpg
      image-position: 50% 50%
      label: 2 bungalows amongst our agroforest
      feature1: Sleeps 2
      feature2: Garden view
   -
      title: Twin Cabin
      url: /lodging.html#cabin
      image: /uploads/dsc04361.jpg
      image-position: 50% 50%
      label: Twin cabin facing the veggie garden
      feature1: Sleeps 2 or 4
      feature2: Garden view
roomsbig:
   -
      title: Glamping
      url: /lodging.html#glamping
      image: /uploads/dsc02203-1.jpg
      label: Glamping tent nestled in the greenery and overlooking the pool
      description: >-
         Our unique Glamping Tents blend in nature with today’s modern comfort.
         Freshen up in your private tropical open sky bathroom. Located around
         the swimming pool, the glamping tents offer a balance between adventure
         and comfort.
   -
      title: Bungalow
      url: /lodging.html#bungalow
      image: /uploads/dsc04759-1.jpg
      label: 2 bungalows amongst our agroforest
      description: >-
         Our traditionally crafted ensuite Bungalows are immersed in a beautiful
         natural setting. Overlooking our agroforest, these rooms will cater for
         those seeking a peaceful getaway with a touch of local charm and modern
         comforts.
   -
      title: Twin Cabin
      url: /lodging.html#cabin
      image: /uploads/dsc04361.jpg
      label: Twin cabin facing the veggie garden
      description: >-
         The Twin Cabin is surrounded by lush gardens. It includes 2 ensuite
         bedrooms, a dining corner designed in a recycled shipping container and
         an outdoor lounge. Our locally sourced furnishings create a distinctive
         and memorable experience for guests seeking a blend of style and
         environmental responsibility.
detailed_glamping:
   -
      title: Glamping
      description_1: >-
         Each tent is thoughtfully crafted to blend seamlessly with its
         surroundings while providing all the comforts of a modern getaway.
      description_2: >-
         Each 38m2 glamping tent , includes an open sky bathroom and a terrace
         overlooking the swimming pool.
      description_3: >-
         Whether you're lounging by the pool, embarking on outdoor adventures,
         or simply unwinding in the comfort of your tent, our glamping
         experience promises to awaken your senses and rejuvenate your spirit.
         Escape the ordinary and embrace the extraordinary with our luxurious
         glamping retreat.
      feature_1: Sleeps 2 or 3 upon request
      feature_2: Pool view
      feature_3: Pool access
      feature_4: Safe
      feature_5: Wifi
      feature_6: Private open sky bathroom
      feature_7: >-
         Inclusive of welcome drinks upon arrival and daily breakfast for up to
         2 persons.
      image_1: /uploads/dsc02203-1.jpg
      label_1: Glamping tent nestled in the greenery and overlooking the pool
      image_2: /uploads/dejama-glamping-sofa.jpg
      label_2: >-
         The entrance of the tent with a private terrace and a comfortable
         armchair and sofa 
      image_3: /uploads/dejama-glamping-room.jpg
      label_3: Details of the bedding and mosquito net in the Glamping bedroom
      image_4: /uploads/dejama-glamping-shower.jpg
      label_4: 'Beautiful hanging kimonos '
detailed_bungalow:
   -
      title: Bungalow
      description_1: >-
         Nestled within a serene agro-forest garden, our ensuite bungalows offer
         a tranquil escape for those yearning for a peaceful retreat. Immerse
         yourself in the beauty of nature while indulging in the warmth of
         traditional craftsmanship and thoughtful design.
      description_2: >-
         The 37m² bungalow includes an open sky bathroom and a terrace
         overlooking the garden.
      description_3: >-
         Step inside your private sanctuary, where rustic charm meets
         contemporary comfort. Each bungalow is meticulously crafted using
         traditional techniques, creating a cozy retreat that beautifuly
         complements the natural surroundings.
      feature_1: Sleeps 2 or 3 upon request
      feature_2: Garden view
      feature_3: Pool access
      feature_4: Safe
      feature_5: Wifi
      feature_6: Private open sky bathroom
      feature_7: Inclusive of welcome drinks upon arrival and daily breakfast.
      image_1: /uploads/dejama-bungalow-pathway.jpg
      label_1: Our two bungalows blending in with our agro forest
      image_2: /uploads/dejama-bungalow-room.jpg
      label_2: Bungalow bedroom with beautiful handwoven cushions
      image_3: /uploads/dejama-bungalow-shower.jpg
      label_3: 'Bungalow bathroom details '
      image_4: /uploads/dejama-bungalow-balcony.jpg
      label_4: Fresh flowers on the desk
detailed_cabin:
   -
      title: Twin Cabin
      description_1: >-
         Embrace sustainability without compromising on style with our
         innovative Twin Cabin Suite, ingeniously crafted from a recycled
         shipping container , this 160m2 accommodation includes 2 ensuite
         bedrooms with open sky bathrooms ,  a dining corner and an outdoor
         lounge on a private terrace.
      description_2: >-
         Step into your sanctuary, where sleek lines and minimalist décor create
         a contemporary ambiance. Surrounded by lush gardens and an easy access
         to the restaurant and bar, as well as the swimming pool, you'll find
         everything you need for a memorable stay right at your fingertips.
      description_3:
      feature_1: Sleeps 2 or 4
      feature_2: Garden view
      feature_3: Pool access
      feature_4: Safe
      feature_5: Wifi
      feature_6: Private open sky bathroom
      feature_7: Inclusive of welcome drinks upon arrival and daily breakfast.
      image_1: /uploads/dejama-twincabin-garden.jpg
      label_1: View of the twin cabin overlooking our veggie garden
      image_2: /uploads/dejama-twincabin-room.jpg
      label_2: >-
         One of the two bedrooms in the twin cabin with a mosquito net and
         handwoven cushions
      image_3: /uploads/dejama-twincabin-shower.jpg
      label_3: Bathroom amenities
      image_4: /uploads/dejama-twincabin-lounge.jpg
      label_4: Outdoor lounge with garden views
---
<!----------------HEADER---------------------->

<section class="relative flex justify-center items-center min-h-screen bg-cover bg-center" style="background-image: linear-gradient(rgba(20, 18, 1, 0), rgba(20, 18, 1, 0.08)), url('{{page.banner_image}}');" aria-label="{{page.banner_label}}">

	<div class="text-center">
		<h2 class="font-thin text-light text-6xl sm:text-8xl md:text-9xl uppercase"> Lodging </h2>
	</div>

	  <!-- small bouncing dot at the bottom of the header -->
	  <div class="absolute bottom-5 left-1/2 transform -translate-x-1/2 bg-white w-8 h-8 rounded-full bouncing-animation">
    </div>

</section>



<!----------------ROOMS 3 OPTIONS----------------->

<div>

	<div class="max-w-screen-2xl mx-auto py-15p sm:py-10p">

		<!----------------For small screens------->

		{% include rooms-small-screen.html %}

		<!----------------For large screens----------------->

		{% include rooms-large-screen.html %}
	
				
	</div>
	</div>




<!----------------GLAMPING----------------->

<div class="bg-grey" id="glamping">

	<div class="max-w-screen-2xl mx-auto py-15p sm:py-10p px-2p">

	{% include detailed_glamping.html %}

   </div>
</div>


<!----------------BUNGALOW----------------->

<div id="bungalow">
	<div class="max-w-screen-2xl mx-auto py-15p sm:py-10p px-2p">
	{% include detailed_bungalow.html %}

   </div>
</div>


<!----------------TWIN CABIN----------------->

<div class="bg-grey" id="cabin">
	<div class="max-w-screen-2xl mx-auto py-15p sm:py-10p px-2p">

	{% include detailed_cabin.html %}
	
   </div>
</div>

{% include whatsapp.html %}