---
layout: default 
title: Lodging
banner_image: /images/temp-landscape.jpg
banner_label: Quick description of the banner image
seo: 
 title: Lodging at Dejama Glamping Resort, Lombok
 description: 
 keywords: 
 social_image: 
 hide-from-google: true
roomssmall:
-  title: Glamping
   url: /lodging.html#glamping
   image: /images/temp-landscape.jpg
   label: Description of image
   feature1: Sleeps 2 or 3 
   feature2: Pool view
-  title: Bungalow
   url: /lodging.html#bungalow
   image: /images/temp-landscape.jpg
   label: Description of image
   feature1: Sleeps 2 
   feature2: Garden view
-  title: Twin Cabin
   url: /lodging.html#cabin
   image: /images/temp-landscape.jpg
   label: Description of image
   feature1: Sleeps 2 or 4
   feature2: Garden view 
roomsbig:
-  title: Glamping
   url: /lodging.html#glamping
   image: /images/temp-landscape.jpg
   label: Description of image
   description: Our luxurious and comfortable unique glamping tents blend in nature with today’s modern comfort. Freshen up in your private tropical outdoor bathroom. Located around the swimming pool, the glamping tents offer a balance between adventure and comfort.
-  title: Bungalow
   url: /lodging.html#bungalow
   image: /images/temp-landscape.jpg
   label: Description of image
   description: Our traditionally crafted ensuite bungalows are immersed in a beautiful natural setting. Overlooking our agroforest, these rooms will cater for those seeking a peaceful getaway with a touch of local charm and modern comforts.
-  title: Twin Cabin
   url: /lodging.html#cabin
   image: /images/temp-landscape.jpg
   label: Description of image
   description: The Twin Cabin Suite is surrounded by lush gardens. It includes 2 ensuite bedrooms and a lounge designed in a recycled shipping container. Our locally sourced furnishings create a distinctive and memorable experience for guests seeking a blend of style and environmental responsibility. 
detailed_glamping:
-  title: Glamping
   description_1: Each tent is meticulously designed to harmonise with the surrounding environment while offering all the conveniences of a modern retreat.
   description_2: Each 50m2 glamping tent , includes an outdoor bathroom and a terrace overlooking the swimming pool. 
   description_3: Whether you're lounging by the pool, embarking on outdoor adventures, or simply unwinding in the comfort of your tent, our glamping experience promises to awaken your senses and rejuvenate your spirit. Escape the ordinary and embrace the extraordinary with our luxurious glamping retreat.
   feature_1: Sleeps 2 or 3 upon request
   feature_2: Pool view
   feature_3: Pool access
   feature_4: Safe
   feature_5: Wifi
   feature_6: Private outdoor bathroom
   feature_7: Inclusive of welcome drinks upon arrival and daily breakfast for up to 2 persons.
   image_1: /images/temp-portrait.jpg
   label_1: Description of image
   image_2: /images/temp-portrait.jpg
   label_2: Description of image
   image_3: /images/temp-portrait.jpg
   label_3: Description of image
   image_4: /images/temp-portrait.jpg
   label_4: Description of image
detailed_bungalow:
-  title: Bungalow
   description_1: Nestled within a serene agro-forest garden, our ensuite bungalows offer a tranquil escape for those yearning for a peaceful retreat. Immerse yourself in the beauty of nature while indulging in the warmth of traditional craftsmanship and thoughtful design.
   description_2: The 34m² bungalow includes an outdoor bathroom and a terrace overlooking the garden.
   description_3: Step inside your private sanctuary, where rustic elegance meets contemporary luxury. Each bungalow is meticulously crafted using traditional techniques, creating a cosy haven that seamlessly blends with the surrounding landscape. 
   feature_1: Sleeps 2
   feature_2: Garden view
   feature_3: Pool access
   feature_4: Safe
   feature_5: Wifi
   feature_6: Private outdoor bathroom
   feature_7: Inclusive of welcome drinks upon arrival and daily breakfast.
   image_1: /images/temp-portrait.jpg
   label_1: Description of image
   image_2: /images/temp-portrait.jpg
   label_2: Description of image
   image_3: /images/temp-portrait.jpg
   label_3: Description of image
   image_4: /images/temp-portrait.jpg
   label_4: Description of image
detailed_cabin:
-  title: Twin Cabin
   description_1: Embrace sustainability without compromising on style with our innovative Twin Cabin Suite, ingeniously crafted from a recycled shipping container , this 60m2 accommodation includes 2 ensuite bedrooms with outdoor bathrooms ,  a chic and comfortable lounge and 2 private terraces.
   description_2: Step into your sanctuary, where sleek lines and minimalist décor create a contemporary ambiance. Surrounded by lush gardens and an easy access to the restaurant and bar, as well as the swimming pool, you'll find everything you need for a memorable stay right at your fingertips. 
   description_3: 
   feature_1: Sleeps 2 or 4
   feature_2: Garden view
   feature_3: Pool access
   feature_4: Safe
   feature_5: Wifi
   feature_6: Private outdoor bathroom
   feature_7: Inclusive of welcome drinks upon arrival and daily breakfast.
   image_1: /images/temp-portrait.jpg
   label_1: Description of image
   image_2: /images/temp-portrait.jpg
   label_2: Description of image
   image_3: /images/temp-portrait.jpg
   label_3: Description of image
   image_4: /images/temp-portrait.jpg
   label_4: Description of image     
---

<!----------------HEADER---------------------->

<section class="relative flex justify-center items-center min-h-screen bg-cover bg-center" style="background-image: linear-gradient(rgba(20, 18, 1, 0.6), rgba(20, 18, 1, 0.9)), url('{{page.banner_image}}');" aria-label="{{page.banner_label}}">

	<div class="text-center">
		<h2 class="font-thin text-light text-6xl sm:text-8xl md:text-9xl uppercase"> Lodging </h2>
	</div>

	  <!-- small bouncing dot at the bottom of the header -->
	  <div class="absolute bottom-5 left-1/2 transform -translate-x-1/2 bg-white w-8 h-8 rounded-full bouncing-animation">
    </div>

</section>



<!----------------ROOMS 3 OPTIONS----------------->

<div>

	<div class="max-w-screen-2xl mx-auto py-15p sm:py-10p">

		<!----------------For small screens------->

		{% include rooms-small-screen.html %}

		<!----------------For large screens----------------->

		{% include rooms-large-screen.html %}
	
				
	</div>
	</div>

</div>


<!----------------GLAMPING----------------->

<div class="bg-grey" id="glamping">

	<div class="max-w-screen-2xl py-15p sm:py-10p px-2p">

	{% include detailed_glamping.html %}
<!----------	
	<h3 class="text-4xl sm:text-7xl lg:text-8xl font-semibold uppercase"> Glamping </h3>


	<div class="md:hidden">
			<div>
				<p class="pb-5p sm:pb-2p pt-5p sm:pt-0 editable"> Each tent is meticulously designed to harmonise with the surrounding environment while offering all the conveniences of a modern retreat. </p>
				<p class="pb-5p sm:pb-2p editable"> Each 50m2 glamping tent , includes an outdoor bathroom and a terrace overlooking the swimming pool. 
				</p>
				<p class="pb-5p editable"> Whether you're lounging by the pool, embarking on outdoor adventures, or simply unwinding in the comfort of your tent, our glamping experience promises to awaken your senses and rejuvenate your spirit. Escape the ordinary and embrace the extraordinary with our luxurious glamping retreat. </p>
		
				<ul class="list-disc pl-5p editable">
					<li class="ml-2p"> Sleeps 2 or 3 upon request </li>
					<li class="ml-2p"> Pool view </li>
					<li class="ml-2p"> Pool access </li>
					<li class="ml-2p"> Safe </li>
					<li class="ml-2p"> Wifi </li>	
					<li class="ml-2p"> Private outdoor bathroom </li>
					<li class="ml-2p pb-5p md:pb-0"> Inclusive of welcome drinks upon arrival and daily breakfast for up to 2 persons. </li>
				</ul>
				
			</div>
	</div>

	<div class="grid grid-cols-3 md:grid-cols-8">

		<div class="col-span-3 grid grid-cols-3 gap-1" id="lightgallery">
			
			<a class="col-span-3" href="/images/temp-portrait.jpg" aria-label="">
				<div class="bg-img-2 gallery-bg-image min-h-30 sm:min-h-40 md:min-h-50 mb-2p"></div>
			</a> 

			<a class="col-span-1" href="/images/temp-portrait.jpg" aria-label="">
				<div class="bg-img-2 gallery-bg-image min-h-20"></div>
			</a> 

			<a class="col-span-1" href="/images/temp-portrait.jpg" aria-label="">
				<div class="bg-img-2 gallery-bg-image min-h-20"></div>
			</a> 

			<a class="col-span-1" href="/images/temp-portrait.jpg" aria-label="">
				<div class="bg-img-2 gallery-bg-image min-h-20"></div>
			</a> 

		</div>


		<div class="hidden col-span-5 px-5p md:flex flex-col justify-between items-start">
			<div class="flex flex-col h-full justify-end">
				<p class="pb-2p editable"> Each tent is meticulously designed to harmonise with the surrounding environment while offering all the conveniences of a modern retreat. </p>
				<p class="pb-2p editable"> Each 50m2 glamping tent , includes an outdoor bathroom and a terrace overlooking the swimming pool. 
				</p>
				<p class="pb-5p editable"> Whether you're lounging by the pool, embarking on outdoor adventures, or simply unwinding in the comfort of your tent, our glamping experience promises to awaken your senses and rejuvenate your spirit. Escape the ordinary and embrace the extraordinary with our luxurious glamping retreat. </p>
		
				<ul class="list-disc editable">
					<li class="ml-2p"> Sleeps 2 or 3 upon request </li>
					<li class="ml-2p"> Pool view </li>
					<li class="ml-2p"> Pool access </li>
					<li class="ml-2p"> Safe </li>
					<li class="ml-2p"> Wifi </li>	
					<li class="ml-2p"> Private outdoor bathroom </li>
					<li class="ml-2p"> Inclusive of welcome drinks upon arrival and daily breakfast for up to 2 persons. </li>
				</ul>
				
			</div>
		
			<div class="flex justify-end items-center">
				<a href="#" target="" class="button mt-20p"> Book now </a>
			</div>
		</div>

		<div class="col-span-full md:hidden flex justify-center items-center">
			<a href="#" target="" class="button mt-10p"> Book now </a>
		</div>


	</div>

-------->
</div>
</div>


<!----------------BUNGALOW----------------->

<div id="bungalow">
	<div class="max-w-screen-2xl py-15p sm:py-10p px-2p">
	{% include detailed_bungalow.html %}

	<!---------
	<h3 class="text-4xl sm:text-7xl lg:text-8xl font-semibold uppercase"> Bungalow </h3>

	<div class="md:hidden">
			<div>
				<p class="pb-5p sm:pb-2p pt-5p sm:pt-0 editable"> Nestled within a serene agro-forest garden, our ensuite bungalows offer a tranquil escape for those yearning for a peaceful retreat. Immerse yourself in the beauty of nature while indulging in the warmth of traditional craftsmanship and thoughtful design. 
				</p>
				<p class="pb-5p sm:pb-2p editable"> The 34m² bungalow includes an outdoor bathroom and a terrace overlooking the garden.  
				</p>
				<p class="pb-5p editable"> Step inside your private sanctuary, where rustic elegance meets contemporary luxury. Each bungalow is meticulously crafted using traditional techniques, creating a cosy haven that seamlessly blends with the surrounding landscape. 
				</p>
		
				<ul class="list-disc pl-5p editable">
					<li class="ml-2p"> Sleeps 2 </li>
					<li class="ml-2p"> Garden view </li>
					<li class="ml-2p"> Pool access </li>
					<li class="ml-2p"> Safe </li>
					<li class="ml-2p"> Wifi </li>	
					<li class="ml-2p"> Private outdoor bathroom </li>
					<li class="ml-2p pb-5p md:pb-0"> Inclusive of welcome drinks upon arrival and daily breakfast </li>
				</ul>
				
			</div>
	</div>

	<div class="grid grid-cols-3 md:grid-cols-8">

		<div class="col-span-3 grid grid-cols-3 gap-1" id="lightgallery">
			
			<a class="col-span-3" href="/images/temp-portrait.jpg" aria-label="">
				<div class="bg-img-2 gallery-bg-image min-h-30 sm:min-h-40 md:min-h-50 mb-2p"></div>
			</a> 

			<a class="col-span-1" href="/images/temp-portrait.jpg" aria-label="">
				<div class="bg-img-2 gallery-bg-image min-h-20"></div>
			</a> 

			<a class="col-span-1" href="/images/temp-portrait.jpg" aria-label="">
				<div class="bg-img-2 gallery-bg-image min-h-20"></div>
			</a> 

			<a class="col-span-1" href="/images/temp-portrait.jpg" aria-label="">
				<div class="bg-img-2 gallery-bg-image min-h-20"></div>
			</a> 

		</div>


		<div class="hidden col-span-5 px-5p md:flex flex-col justify-between items-start">
			<div class="flex flex-col h-full justify-end">
				<p class="pb-2p editable"> Nestled within a serene agro-forest garden, our ensuite bungalows offer a tranquil escape for those yearning for a peaceful retreat. Immerse yourself in the beauty of nature while indulging in the warmth of traditional craftsmanship and thoughtful design. 
				</p>
				<p class="pb-2p editable"> The 34m² bungalow includes an outdoor bathroom and a terrace overlooking the garden.  
				</p>
				<p class="pb-5p editable"> Step inside your private sanctuary, where rustic elegance meets contemporary luxury. Each bungalow is meticulously crafted using traditional techniques, creating a cosy haven that seamlessly blends with the surrounding landscape. 
				</p>
		
				<ul class="list-disc editable">
					<li class="ml-2p"> Sleeps 2 </li>
					<li class="ml-2p"> Garden view </li>
					<li class="ml-2p"> Pool access </li>
					<li class="ml-2p"> Safe </li>
					<li class="ml-2p"> Wifi </li>	
					<li class="ml-2p"> Private outdoor bathroom </li>
					<li class="ml-2p"> Inclusive of welcome drinks upon arrival and daily breakfast </li>
				</ul>
				
			</div>
		
			<div class="flex justify-end items-center">
				<a href="#" target="" class="button mt-20p"> Book now </a>
			</div>
		</div>

		<div class="col-span-full md:hidden flex justify-center items-center">
			<a href="#" target="" class="button mt-10p"> Book now </a>
		</div>


	</div>

	----->
</div>
</div>


<!----------------TWIN CABIN----------------->

<div class="bg-grey" id="cabin">
	<div class="max-w-screen-2xl py-15p sm:py-10p px-2p">

	{% include detailed_cabin.html %}
	<!--------
	<h3 class="text-4xl sm:text-7xl lg:text-8xl font-semibold uppercase"> Twin Cabin </h3>

	<div class="md:hidden">
			<div>
				<p class="pb-5p sm:pb-2p pt-5p sm:pt-0 editable"> Embrace sustainability without compromising on style with our innovative Twin Cabin Suite, ingeniously crafted from a recycled shipping container , this 60m2 accommodation includes 2 ensuite bedrooms with outdoor bathrooms ,  a chic and comfortable lounge and 2 private terraces. 
				</p>
				<p class="pb-5p editable"> Step into your sanctuary, where sleek lines and minimalist décor create a contemporary ambiance. Surrounded by lush gardens and an easy access to the restaurant and bar, as well as the swimming pool, you'll find everything you need for a memorable stay right at your fingertips. 
				</p>
				
		
				<ul class="list-disc pl-5p editable">
					<li class="ml-2p"> Sleeps 2 or 4 </li>
					<li class="ml-2p"> Garden view </li>
					<li class="ml-2p"> Pool access </li>
					<li class="ml-2p"> Safe </li>
					<li class="ml-2p"> Wifi </li>	
					<li class="ml-2p"> Private outdoor bathroom </li>
					<li class="ml-2p pb-5p md:pb-0"> Inclusive of welcome drinks upon arrival and daily breakfast </li>
				</ul>
				
			</div>
	</div>

	<div class="grid grid-cols-3 md:grid-cols-8">

		<div class="col-span-3 grid grid-cols-3 gap-1" id="lightgallery">
			
			<a class="col-span-3" href="/images/temp-portrait.jpg" aria-label="">
				<div class="bg-img-2 gallery-bg-image min-h-30 sm:min-h-40 md:min-h-50 mb-2p"></div>
			</a> 

			<a class="col-span-1" href="/images/temp-portrait.jpg" aria-label="">
				<div class="bg-img-2 gallery-bg-image min-h-20"></div>
			</a> 

			<a class="col-span-1" href="/images/temp-portrait.jpg" aria-label="">
				<div class="bg-img-2 gallery-bg-image min-h-20"></div>
			</a> 

			<a class="col-span-1" href="/images/temp-portrait.jpg" aria-label="">
				<div class="bg-img-2 gallery-bg-image min-h-20"></div>
			</a> 

		</div>


		<div class="hidden col-span-5 px-5p md:flex flex-col justify-between items-start">
			<div class="flex flex-col h-full justify-end">
				<p class="pb-2p editable"> Embrace sustainability without compromising on style with our innovative Twin Cabin Suite, ingeniously crafted from a recycled shipping container , this 60m2 accommodation includes 2 ensuite bedrooms with outdoor bathrooms ,  a chic and comfortable lounge and 2 private terraces. 
				</p>
				<p class="pb-5p editable"> Step into your sanctuary, where sleek lines and minimalist décor create a contemporary ambiance. Surrounded by lush gardens and an easy access to the restaurant and bar, as well as the swimming pool, you'll find everything you need for a memorable stay right at your fingertips. 
				</p>
				
		
				<ul class="list-disc editable">
					<li class="ml-2p"> Sleeps 2 or 4 </li>
					<li class="ml-2p"> Garden view </li>
					<li class="ml-2p"> Pool access </li>
					<li class="ml-2p"> Safe </li>
					<li class="ml-2p"> Wifi </li>	
					<li class="ml-2p"> Private outdoor bathroom </li>
					<li class="ml-2p"> Inclusive of welcome drinks upon arrival and daily breakfast </li>
				</ul>
				
			</div>
		
			<div class="flex justify-end items-center">
				<a href="#" target="" class="button mt-20p"> Book now </a>
			</div>
		</div>

		<div class="col-span-full md:hidden flex justify-center items-center">
			<a href="#" target="" class="button mt-10p"> Book now </a>
		</div>


	</div>

	--->
</div>
</div>

{% include whatsapp.html %}