/* ----------- Import Tailwind -----*/
@tailwind base;
@tailwind components;
@tailwind utilities;


/* ----------- Default Styles to apply to the whole project  --------- */

@layer base {

    a {
        @apply no-underline;
    }

  }


/* ----------- ADDITIONAL COMPONENTS  --------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}  

html {
    scroll-behavior: smooth;
      }


/* For regular laptops and smaller screens */
body {
    max-width: 100%; /* Allow it to expand to the full width of the screen */
    background-color: #F5F5F5; 
    color:  #141201; 
    font-family: "Josefin Sans";
}

/* For larger screens like flatscreen TVs */
@media screen and (min-width: 1600px) {
    body {
        max-width: 1600px; /* Set a specific max-width for larger screens */
        margin: 0 auto; /* Center the content horizontally */
    }
}


/* ----------- FONT WEIGHT AND ITALICS  --------- */

.text-light {
  color: #F5F5F5; 
}

.bg-white {
  background-color: #F5F5F5; 
}

.bg-grey {
  background-color: #D9D9D9; 
}

.bg-beige {
  background-color: #a0946a; 
}


.font-thin {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 100;
}

.font-extralight {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 200;
  }

  .font-light {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 300;
  }

  .font-regular {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
  }

  .font-medium {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 500;
  }

  .font-semibold {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 600;
  }

/*-----------Navigation------------------*/

/* Hamburger menu container */
.hamburger-menu-container {
  max-width: 100%;
  margin: 0 auto; /* Center the container horizontally */
}

.hamburger-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 24px;
  height: 20px;
}

.hamburger-menu span {
  background-color: #D9D9D9;
  height: 4px;
  width: 100%;
  transition: transform 0.3s ease-in-out;
}

.hamburger-menu.active span {
  background-color: #141201; 
}

.hamburger-menu.active span:first-child {
  transform: translateY(8px) rotate(45deg);
}

.hamburger-menu.active span:nth-child(2) {
  opacity: 0;
}

.hamburger-menu.active span:last-child {
  transform: translateY(-8px) rotate(-45deg);
}



.mobile-menu.active {
  display: block;
}

.mobile-menu a {
  text-decoration: none; 
  padding: 2%;
  display: block;
  font-weight: normal;
  font-size: 1.3rem;
}

.nav-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  background-color: #A0946A;
  color: #F5F5F5;
  text-transform: uppercase;
  appearance: none;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s;
  line-height: 1.6; 
  height: 2.2rem; 
  width: 10rem; 
  margin: 0 auto; 
}

.nav-button:hover {
  background-color: #837954;
  color: #F5F5F5;
  transform: scale(1.05);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


/*-----------Bouncing Ball------------------*/

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(245 245 245 / var(--tw-bg-opacity));
}

.bottom-5p {
  bottom: 5%;
}

.w-8 {
  width: 2rem/* 32px */;
}

.h-8 {
  height: 2rem/* 32px */;
}

.rounded-full {
  border-radius: 9999px;
}

.bouncing-animation{
  animation: bounce 1s ease-in-out infinite alternate;
}

@keyframes bounce {
  from {translate: 0 0;}
  to { translate: 0 -1rem;}
}


/*---------Button--------------*/


.button {
  display: inline-block; /* Ensures button doesn't take full width */
  padding: 0.5rem 1rem;
  background-color: #3D4536;
  color: #F5F5F5;
  text-transform: uppercase;
  text-align: center;
  appearance: none;
  font-size: 0.8rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s;
  line-height: 1.6; 
  height: 2rem; 
}



/*---------Lodging Small Screens-----------------*/
.imgContainer {
  width: 100%;
  height: 20vh;
 }
 
 .imgOverlay {
  width: 50%;
  height: 20vh;
  background-color: rgba(255,255,255,.5);
 }

/*---------Property Gallery-----------------*/

/* Responsive Image Utility Classes  */
.gallery-bg-image {
	background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  object-fit: cover;
}

/* Aspect Ratio  */
.gallery-portrait-tall { padding-bottom: 175%; }
.gallery-portrait { padding-bottom: 125%; }
.gallery-square { padding-bottom: 100%; }
.gallery-landscape { padding-bottom: 66%; }
.gallery-landscape-wide { padding-bottom: 56%; }

/* Background Position */
.g-bg-pos-t { background-position: top; }
.g-bg-pos-b { background-position: bottom; }
.g-bg-pos-l { background-position: left; }
.g-bg-pos-r { background-position: right; }

/*
.gallery [class*="col-"] {
  padding: 0.5%;
}
*/

/* Gallery - Background Images  */
.bg-img-1 {
  background-image: url(/images/temp-landscape.jpg) ;
}

.bg-img-2 {
  background-image: url(/images/temp-portrait.jpg);
  height: 100%;
}

.gap-gallery {
  gap: 0.5%;
}

.img-height {
  height: 100%;
}

.lodging-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  line-height: 1.6;
  max-height: 9.8em;
}

.subtle {
  opacity: 0.5;
}

.fa-regular,
.fa-brands {
  font-size: 1.3rem;
}

.fa-solid {
  font-size: 1.1rem;
}

.google-map {
  padding-bottom: 50%;
  position: relative;
}



/* Icon */
.accordion .dt a::after {
  position: absolute;
  display: block;
  width: 1rem;
  height: 1rem;
  line-height: 1;
  text-align: center;
  -webkit-transition: all .35s;
  -o-transition: all .35s;
  transition: all .35s;
  font-size: 1.5rem;
  content: "+";
  /*right: 0; */
}  

.open::after {
  transform: rotateZ(45deg);
  /*right: 0; */
}

.accordion-drop {
  transition: transform 0.3s ease-in-out;
}




/* Accordion Index */

.accordion-index .dt-index a {
  padding-left: 60%;
  padding-top: 3%;
  padding-bottom: 3%;
  margin: 0.25rem 0;
  display:block;
  position: relative;
  text-decoration: none;
}

.accordion-index .dd-index {
  padding: 0.5rem;
  background-color: #a0946a;
  margin-left: 5%;
  margin-right: 5%;
}


/* Whatsapp */
.float{
	position:fixed;
	width:50px;
	height:50px;
	bottom:40px;
	right:20px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #737373;
  z-index:100;
  transition: background-color 0.3s ease, transform 0.3s ease; /* Add transition for background and transform */
}

.my-float{
	margin-top:15px;
}

/* Hover effect */
.float:hover {
    background-color: #a0946a; 
    transform: scale(1.1); 
}






/* Icon */
.accordion-index .dt-index a::after {
  position: absolute;
  display: block;
  width: 1rem;
  height: 1rem;
  line-height: 1;
  text-align: center;
  -webkit-transition: all .35s;
  -o-transition: all .35s;
  transition: all .35s;
  font-size: 1.5rem;
  content: "+";
  /*right: 0; */
}  

.open::after {
  transform: rotateZ(45deg);
  /*right: 0; */
}

.accordion-drop {
  transition: transform 0.3s ease-in-out;
}




/* Contact Form */

.custom-box-shadow {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Custom box shadow with your own color */
  border: 1px solid #ccc; /* Border style for the input */
}

.custom-box-shadow:focus {
  outline: none; /* Remove default focus outline */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2); /* Adjusted box shadow for focus state */
}




/* popout activities */

.popupbutton {
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.popupoverlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.popupoverlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80%;
    padding: 20px;
    background: #a0946a;
    border-radius: 5px;
    z-index: 1000;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #141201;
  margin-right: 20px;
}



@media (min-width:300px) {
 
  .hamburger-wrapper {
    cursor: pointer;
    display: inline-block;
    right: 7%;
    top: calc(6.6vw + 0rem);
    z-index: 1000;
    position: fixed;
  }
 
  .mobile-menu {
    display: none;
    background-color: #D9D9D9;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 15%;
    padding-bottom: 12%;
    position: fixed;
    top: 0;
    right: 0;
    overflow-y: auto;
    z-index: 50;
    text-transform: uppercase;
  }
 
  
.accordion-property-pt {
  padding-top: 0% !important;
  padding-left: 0% !important;
  padding-bottom: 0% !important;
}

.accordion-index .dd-index {
  padding: 0;
  background-color: #a0946a;
  margin-left: 5%;
  margin-right: 5%;
}
 
  .accordion-index .dt-index a::after {
    top: 0.5rem;
    right: 0.5rem;
  }

.accordion-index .dt-index a.special-drop-down::after {
  top: -1.7px; 
  right: 0.5rem; 
}


.accordion-index .dt-index a {
  padding-left: 52%;
  margin-top: 0%;
  margin-bottom: 5%;
}



.accordion .dt a::after {
  top: 0.8rem;
  right: 2rem;
}

.accordion .dt a {
  padding-left: 2%;
  padding-top: 3%;
  padding-bottom: 3%;
  margin: 0.25rem 0;
  display: block;
  position: relative;
  text-decoration: none;
}

.google-map iframe {
  height: 120%;
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

}

@media (min-width:640px) {

.accordion-property-pt {
  padding-top: 0% !important;
  padding-left: 50% !important;
  padding-bottom: 0% !important;
}

.accordion-index .dd-index {
  padding: 0.5rem;
  background-color: #a0946a;
  margin-left: 5%;
  margin-right: 5%;
}

.accordion-index .dt-index a {
  padding-left: 52%;
  margin-top: 0%;
  margin-bottom: 0%;
}

.google-map iframe {
  height: 60%;
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.accordion-index .dt-index a {
  padding-left: 70%;
}


.accordion .dt a {
  padding-left: 5%;
  padding-top: 3%;
  padding-bottom: 3%;
  margin: 0.25rem 0;
  display:block;
  position: relative;
  text-decoration: none;
}

.accordion .dt a::after {
  top: 1.3rem;
  right: 4rem;
}

.accordion-index .dt-index a::after {
  top: 1.1rem;
  right: 2rem;
}

}

@media (min-width:750px) {
  .accordion-index .dt-index a::after {
    top: 1.3rem;
    right: 2rem;
  }
}


@media (min-width:768px) {
  .accordion-index .dt-index a::after {
    top: 1.4rem;
    right: 2rem;
  }
  }

@media (min-width:800px) {
  .mobile-menu {
    background-color: #D9D9D9;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10%;
    padding-bottom: 7%;
    position: fixed;
    top: 0;
    right: 0;
    overflow-y: auto;
    z-index: 50;
    text-transform: uppercase;
  }
}


@media (min-width:900px) {
.accordion-index .dt-index a {
  padding-left: 75%;
}
}

@media (min-width:1024px) {
  .hamburger-wrapper {
    cursor: pointer;
    display: inline-block;
    right: 5%;
    top: calc(4vw + 0rem);
    z-index: 1000;
    position: fixed;
  }

  .mobile-menu {
    display: none;
    background-color: #D9D9D9;
    padding-left: 7%;
    padding-right: 9%;
    padding-top: 7%;
    padding-bottom: 7%;
    position: fixed;
    top: 0;
    right: 0;
    overflow-y: auto;
    z-index: 50;
    text-transform: uppercase;
  }
  
  .accordion-index .dt-index a::after {
    top: 1.8rem;
    right: 2rem;
  }

  .accordion-property-pt {
    padding-top: 0% !important;
    padding-left: 65% !important;
    padding-bottom: 0% !important;
  }

  .accordion .dt a::after {
    top: 2rem;
    right: 4rem;
  }
}

@media (min-width:1125px) {
  .accordion-index .dt-index a::after {
    top: 0.5rem;
    right: 0.5rem;
  }

}

@media (min-width:1280px) {
  .accordion-index .dt-index a::after {
    top: 2.3rem;
    right: 0.5rem;
  } 

  .accordion-index .dt-index a {
    padding-left: 83.4%;
  }


}

@media (min-width: 1536px) {
  .accordion .dt a::after {
    top: 3rem;
    right: 4rem;

  }
}