/* ----------- Import Tailwind -----*/
@tailwind base;
@tailwind components;
@tailwind utilities;


/* ----------- Default Styles to apply to the whole project  --------- */

@layer base {

    h1, h2, h3, h4  {
        @apply mb-[0.5em];
    }

    h1 {
        @apply text-3xl leading-tight;
    }
    h2 {
        @apply text-2xl leading-tight;
    }
    h3 {
        @apply text-xl leading-tight;
    }

    h3 {
        @apply text-lg leading-tight;
    }
    h4 {
        @apply text-lg leading-tight;
    }

    p {
        @apply leading-6;
    }

    a {
        @apply no-underline;
    }

  }


/* ----------- ADDITIONAL COMPONENTS  --------- */

    

html {
    scroll-behavior: smooth;
      }


/* For regular laptops and smaller screens */
body {
    max-width: 100%; /* Allow it to expand to the full width of the screen */
    background-color: #F5F5F5; 
    color:  #141201; 
    font-family: "Josefin Sans";
}

/* For larger screens like flatscreen TVs */
@media screen and (min-width: 1600px) {
    body {
        max-width: 1600px; /* Set a specific max-width for larger screens */
        margin: 0 auto; /* Center the content horizontally */
    }
}


/* ----------- FONT WEIGHT AND ITALICS  --------- */

.text-light {
  color: #F5F5F5; 
}

.bg-grey {
  background-color: #D9D9D9; 
}

.bg-beige {
  background-color: #a0946a; 
}

.font-thin {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 100;
}

.font-extralight {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 200;
  }

  .font-light {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 300;
  }

  .font-regular {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
  }

  .font-medium {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 500;
  }

  .font-semibold {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 600;
  }


/*-----------Bouncing Ball------------------*/

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(245 245 245 / var(--tw-bg-opacity));
}

.bottom-5p {
  bottom: 5%;
}

.w-8 {
  width: 2rem/* 32px */;
}

.h-8 {
  height: 2rem/* 32px */;
}

.rounded-full {
  border-radius: 9999px;
}

.bouncing-animation{
  animation: bounce 1s ease-in-out infinite alternate;
}

@keyframes bounce {
  from {translate: 0 0;}
  to { translate: 0 -1rem;}
}


/*---------Button--------------*/

.button {
  padding: 0.5rem 2rem;
  background-color: #3D4536;
  color: #F5F5F5;
  text-transform: uppercase;
  appearance: none;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s;
}