/* ----------- Import Tailwind -----*/
@tailwind base;
@tailwind components;
@tailwind utilities;


/* ----------- Default Styles to apply to the whole project  --------- */

@layer base {

    h1, h2, h3, h4  {
        @apply mb-[0.5em];
    }

    h1 {
        @apply text-3xl leading-tight;
    }
    h2 {
        @apply text-2xl leading-tight;
    }
    h3 {
        @apply text-xl leading-tight;
    }

    h3 {
        @apply text-lg leading-tight;
    }
    h4 {
        @apply text-lg leading-tight;
    }

    p {
        @apply leading-6;
    }

    a {
        @apply no-underline;
    }

  }


/* ----------- ADDITIONAL COMPONENTS  --------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}  

html {
    scroll-behavior: smooth;
      }


/* For regular laptops and smaller screens */
body {
    max-width: 100%; /* Allow it to expand to the full width of the screen */
    background-color: #F5F5F5; 
    color:  #141201; 
    font-family: "Josefin Sans";
}

/* For larger screens like flatscreen TVs */
@media screen and (min-width: 1600px) {
    body {
        max-width: 1600px; /* Set a specific max-width for larger screens */
        margin: 0 auto; /* Center the content horizontally */
    }
}


/* ----------- FONT WEIGHT AND ITALICS  --------- */

.text-light {
  color: #F5F5F5; 
}

.bg-grey {
  background-color: #D9D9D9; 
}

.bg-beige {
  background-color: #a0946a; 
}

.font-thin {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 100;
}

.font-extralight {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 200;
  }

  .font-light {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 300;
  }

  .font-regular {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
  }

  .font-medium {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 500;
  }

  .font-semibold {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 600;
  }

/*-----------Navigation------------------*/

.hamburger-wrapper {
  cursor: pointer;
  display: inline-block;
  right: 5%;
  top: calc(11vw + 0rem);
  z-index: 1000;
  position: fixed;
}

.hamburger-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 24px;
  height: 20px;
}

.hamburger-menu span {
  background-color: #D9D9D9;
  height: 4px;
  width: 100%;
  transition: transform 0.3s ease-in-out;
}

.hamburger-menu.active span:first-child {
  transform: translateY(8px) rotate(45deg);
}

.hamburger-menu.active span:nth-child(2) {
  opacity: 0;
}

.hamburger-menu.active span:last-child {
  transform: translateY(-8px) rotate(-45deg);
}

.mobile-menu {
  display: none;
  background-color: #D9D9D9;
  color: #141201;
  padding: 6rem;
  position: fixed;
  top: 0;
  right: 0;
  overflow-y: auto;
  z-index: 50;
  text-transform: uppercase;
}

.mobile-menu.active {
  display: block;
}

.mobile-menu a {
  text-decoration: none; 
  color: inherit; 
  padding: 1rem;
  display: block;
  font-weight: normal;
  font-size: 1.5rem;
}

.nav-button {
  padding: 0.5rem 2rem;
  background-color: #A0946A;
  color: #F5F5F5;
  text-transform: uppercase;
  appearance: none;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s;
}

.nav-button:hover {
    background-color: #837954;
    color: #F5F5F5;
    transform: scale(1.05);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


/*-----------Bouncing Ball------------------*/

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(245 245 245 / var(--tw-bg-opacity));
}

.bottom-5p {
  bottom: 5%;
}

.w-8 {
  width: 2rem/* 32px */;
}

.h-8 {
  height: 2rem/* 32px */;
}

.rounded-full {
  border-radius: 9999px;
}

.bouncing-animation{
  animation: bounce 1s ease-in-out infinite alternate;
}

@keyframes bounce {
  from {translate: 0 0;}
  to { translate: 0 -1rem;}
}


/*---------Button--------------*/

.button {
  padding: 0.5rem 2rem;
  background-color: #3D4536;
  color: #F5F5F5;
  text-transform: uppercase;
  text-align: center;
  appearance: none;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s;
}



/*---------Property Gallery-----------------*/

/* Responsive Image Utility Classes  */
.gallery-bg-image {
	background-color: rgb(240,240,240);
  background-image: url('https://source.unsplash.com/Sg3XwuEpybU');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
}

/* Aspect Ratio  */
.gallery-portrait-tall { padding-bottom: 175%; }
.gallery-portrait { padding-bottom: 125%; }
.gallery-square { padding-bottom: 100%; }
.gallery-landscape { padding-bottom: 66%; }
.gallery-landscape-wide { padding-bottom: 56%; }

/* Background Position */
.g-bg-pos-t { background-position: top; }
.g-bg-pos-b { background-position: bottom; }
.g-bg-pos-l { background-position: left; }
.g-bg-pos-r { background-position: right; }


.gallery [class*="col-"] {
  padding: 0.5%;
}

/* Gallery - Background Images  */
.bg-img-1 {
  background-image: url('https://source.unsplash.com/U3aF7hgUSrk');
}

.bg-img-2 {
  background-image: url('https://source.unsplash.com/TzjMd7i5WQI');
}

.bg-img-3 {
  background-image: url('https://source.unsplash.com/2pbnDRhXc6Q');
}

.bg-img-4 {
  background-image: url('https://source.unsplash.com/2s6ORaJY6gI');
}

.bg-img-5 {
  background-image: url('/images/temp-landscape.jpg');
  min-height: 40vh;
}