<div class="accordion-index">
  
    <div class="dt-index">
      <a href=""> Find out more </a>
    </div>

    <div class="dd-index bg-beige">

          <p class="pt-5p px-5p pb-2p editable">
            We prioritise freshness and flavour by sourcing most of our vegetables and fruits directly from our own garden production. By doing so, we ensure that you receive the highest quality ingredients, picked at the peak of ripeness for maximum taste and nutrition.
          </p>

          <p class="px-5p pb-2p editable"> In line with our dedication to organic practices, we exclusively use organic fertiliser and our own compost to nourish our crops. This not only enhances the flavour and nutrient content of our produce but also contributes to the health of our ecosystem.
          </p>

          <p class="px-5p pb-2p editable"> Additionally, our herb garden provides an array of aromatic and flavorful herbs to elevate the taste of our dishes, adding depth and complexity to every bite. </p>

          <p class="px-5p pb-5p editable"> We invite you to savour the bounty of nature at Dejama's organic garden and eco-forest, where every meal is a celebration of sustainability, quality, and deliciousness. </p>

    </div>
      
</div>
 