<div class="accordion">
  
    <div class="dt">
      <a href="" class="text-left pr-20p sm:pr-0" aria-label="Catch a fast boat from Bali or the Gili Islands"> <i class="hidden sm:inline-block fa-solid fa-ship pr-5p"></i> <span class="editable"> Catch a fast boat from Bali or the Gili Islands </span>
      </a>
    </div>

    <div class="dd bg-grey ">

          <p class="pt-5p px-15p pb-2p editable">
            There are many companies offering fast boat services from Bali to Lombok with all boats departing between 8.30 and 11.00am.
          </p>

          <p class="px-15p pb-2p editable">
            We recommend catching an early boat as the sea is normally calmer.
          </p>

          <p class="px-15p pb-2p editable">
            You will be picked up at your hotel in Bali between 7-8am and go directly to Serangan Harbour or Padang Bai Harbour, which is a 2.5-hour boat ride to Lombok. For this service we recommend Blue water Express and Ekajaya Fast Ferry.
          </p>

          <p class="px-15p pb-5p editable">
            We can organise our driver to pick you up from Bangsal Harbour and help you with your luggage. It is a scenic 2 hour drive to our resort.
          </p>

    </div>
      
</div>
 