<div class="accordion-index">
  
  <div class="dt-index">
    <a href=""> Find out more </a>
  </div>

  <div class="dd-index">

        <p class="pt-5p px-5p pb-2p">
          Sourced from Surabaya, each container has been repurposed to serve a specific function within our eco-friendly resort, blending functionality with sustainability.
        </p>

        <p class="px-5p pb-5p"> From the moment you step into our reception area housed within one of these containers, to enjoying a meal prepared in our kitchen, or sipping a drink at the bar, you'll experience firsthand our commitment to eco-conscious living. Even our public restrooms, nestled within repurposed shipping containers, reflect our dedication to sustainable practices.
        </p>

  </div>
    
</div>
