<div class="accordion-index">
  
    <div class="dt-index">
      <a href=""> Find out more about our gardens </a>
    </div>

    <div class="dd-index bg-beige">

          <p class="p-5p">
            We grow our own vegetables and herbs for the restaurant, it  shows our dedication to providing you with fresh, locally sourced ingredients. This not only ensures delicious meals but also supports the local economy and reduces carbon footprint associated with food transportation.
          </p>

    </div>
      
</div>
 