<div class="accordion">
  
    <div class="dt">
      <a href="" class="text-left"> <i class="fa-solid fa-plane pr-5p"></i> By plane from Bali or another airport </a>
    </div>

    <div class="dd">

          <p class="px-5p">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. A nesciunt, nobis consequuntur veritatis dolorem deserunt aut. In, fugit a quam ipsa animi commodi minima qui excepturi. Voluptatem culpa illum molestias!
          </p>

    </div>
      
</div>
 



