<div class="accordion-index">
  
  <div class="dt-index">
    <a href=""> Find out more  </a>
  </div>

  <div class="dd-index">

        <p class="p-5p editable">
            Our 24 solar panels, strategically mounted on the roofs of our buildings, harness the abundant energy provided by sunlight. This solar energy powers our entire resortmost of the time, from the kitchen to the guest accommodations, ensuring that we minimise our carbon footprint and operate in harmony with the environment.
        </p>

  </div>
    
</div>

 