<div class="accordion-index mb-5p">
    <div class="dt-index">
        <a href="" class="accordion-property-pt special-drop-down"> Find out more about our property </a>
    </div>
    <div class="dd-index bg-beige">
        <p class="pt-5p px-5p pb-2p editable"> Our resort's convenient location, being just 20 minutes away from Kuta Lombok and the airport makes it easily accessible for travellers. </p>
        <p class="px-5p pb-2p editable"> Having the swimming pool situated in the heart of the glamping area gives easy access to all guests and enhances the experience of staying at our property. </p>
        <p class="px-5p pb-2p editable"> The convenience of being able to enjoy an early morning swim or a leisurely afternoon by the pool on one of our beautiful daybeds will add to the relaxation and enjoyment of your stay. </p>
        <p class="px-5p pb-5p editable"> Our breathtaking view from the top of the property for sunrise or sunset will add magic and allure to your experience by providing moments of beauty, tranquillity, and connection with nature. </p>
    </div>
</div>
