<div class="accordion">
  
    <div class="dt">
      <a href="" class="text-left"> <i class="fa-solid fa-plane pr-5p"></i> Fly straight into Lombok International Airport </a>
    </div>

    <div class="dd">

          <p class="pt-5p pb-2p">
            Regular daily flights arrive from Bali, Jakarta, Kuala Lumpur, and four times per week direct from Singapore.

It is a short 20 minute drive from the airport to our resort. We can organise a driver to pick you up and help you with your luggage.

          </p>

          <p class="pb-5p"> It is a short 20 minute drive from the airport to our resort. We can organise a driver to pick you up and help you with your luggage.
          </p>

    </div>
      
</div>
 



