{% for item in page.activity_1 %}
<!-- Activity 1 -->
<div class="col-span-1 md:col-span-3 justify-center pr-1p pb-2p pl-2p sm:pl-0" onclick="togglePopup('popup_1')">
    <a class="popupbutton" href="#popup_1">
        <div class="w-full min-h-25 sm:min-h-40 bg-cover relative" style="background-image: linear-gradient(rgba(20, 18, 1, 0.6), rgba(20, 18, 1, 0.9)), url({{ item.image }})" aria-label="{{ item.label }}">
            <div class="flex items-center justify-center absolute inset-0">
                <h3 class="text-light uppercase text-2xl text-center"> {{ item.title }} </h3>
            </div>
        </div>
    </a>
</div>

<!-- Pop-up 1 -->
<div class="popup" id="popup_1">
    <div class="popup-content">
        <h4 class="pt-5p pb-2p uppercase text-2xl text-center"> {{ item.title }} </h4>
        <a href="#" class="close" onclick="togglePopup('popup_1')">&times;</a>
        <div>
            <p class="text-center"> {{ item.description }} </p>
        </div>
    </div>
</div>
{% endfor %}

{% for item in page.activity_2 %}
<!-- Activity 2 -->
<div class="col-span-1 md:col-span-3 justify-center pr-1p pb-2p pl-2p sm:pl-0" onclick="togglePopup('popup_2')">
    <a class="popupbutton" href="#popup_2">
        <div class="w-full min-h-25 sm:min-h-40 bg-cover relative" style="background-image: linear-gradient(rgba(20, 18, 1, 0.6), rgba(20, 18, 1, 0.9)), url({{ item.image }})" aria-label="{{ item.label }}">
            <div class="flex items-center justify-center absolute inset-0">
                <h3 class="text-light uppercase text-2xl text-center"> {{ item.title }} </h3>
            </div>
        </div>
    </a>
</div>

<!-- Pop-up 2 -->
<div class="popup" id="popup_2">
    <div class="popup-content">
        <h4 class="pt-5p pb-2p uppercase text-2xl text-center"> {{ item.title }} </h4>
        <a href="#" class="close" onclick="togglePopup('popup_2')">&times;</a>
        <div>
            <p class="text-center"> {{ item.description }} </p>
        </div>
    </div>
</div>
{% endfor %}

{% for item in page.activity_3 %}
<!-- Activity 3 -->
<div class="col-span-1 md:col-span-3 justify-center pr-1p pb-2p pl-2p sm:pl-0" onclick="togglePopup('popup_3')">
    <a class="popupbutton" href="#popup_3">
        <div class="w-full min-h-25 sm:min-h-40 bg-cover relative" style="background-image: linear-gradient(rgba(20, 18, 1, 0.6), rgba(20, 18, 1, 0.9)), url({{ item.image }})" aria-label="{{ item.label }}">
            <div class="flex items-center justify-center absolute inset-0">
                <h3 class="text-light uppercase text-2xl text-center"> {{ item.title }} </h3>
            </div>
        </div>
    </a>
</div>

<!-- Pop-up 3 -->
<div class="popup" id="popup_3">
    <div class="popup-content">
        <h4 class="pt-5p pb-2p uppercase text-2xl text-center"> {{ item.title }} </h4>
        <a href="#" class="close" onclick="togglePopup('popup_3')">&times;</a>
        <div>
            <p class="text-center"> {{ item.description }} </p>
        </div>
    </div>
</div>
{% endfor %}

{% for item in page.activity_4 %}
<!-- Activity 4 -->
<div class="col-span-1 md:col-span-3 justify-center pr-1p pb-2p pl-2p sm:pl-0" onclick="togglePopup('popup_4')">
    <a class="popupbutton" href="#popup_4">
        <div class="w-full min-h-25 sm:min-h-40 bg-cover relative" style="background-image: linear-gradient(rgba(20, 18, 1, 0.6), rgba(20, 18, 1, 0.9)), url({{ item.image }})" aria-label="{{ item.label }}">
            <div class="flex items-center justify-center absolute inset-0">
                <h3 class="text-light uppercase text-2xl text-center"> {{ item.title }} </h3>
            </div>
        </div>
    </a>
</div>

<!-- Pop-up 4 -->
<div class="popup" id="popup_4">
    <div class="popup-content">
        <h4 class="pt-5p pb-2p uppercase text-2xl text-center"> {{ item.title }} </h4>
        <a href="#" class="close" onclick="togglePopup('popup_4')">&times;</a>
        <div>
            <p class="text-center"> {{ item.description }} </p>
        </div>
    </div>
</div>
{% endfor %}

<div class="popupoverlay" onclick="togglePopup('')"></div>
