
      

   {% for item in page.activity_1 %}

                <!--- Acitivity 1 -->
                <div class="col-span-1 md:col-span-3 justify-center pr-1p pb-2p pl-2p sm:pl-0 ">
                    <a class="popupbutton" href="#popup1">
                            <div class="w-full min-h-25 sm:min-h-40 bg-cover relative" style="background-image: linear-gradient(rgba(20, 18, 1, 0.6), rgba(20, 18, 1, 0.9)), url({{item.image}})" aria-label="{{item.label}}">
                                <div class="flex items-center justify-center absolute inset-0">
                                    <h3 class="text-light uppercase text-2xl text-center"> {{item.title}} </h3>
                                </div>
                            </div>
                        </a>
                </div>

                 <!-- Pop-up 1 -->
                <div id="popup1" class="popupoverlay">
                    <div class="popup">
                        <h4 class="pt-5p pb-2p uppercase text-2xl"> {{item.title}} </h4>
                        <a class="close" href="/index.html#activities" onclick="closePopup('popup1')">&times;</a>
                        <div>
                            <p> {{item.description}} </p>
                        </div>
                    </div>
                </div>
    
    {% endfor %}

    {% for item in page.activity_2 %}
        
                <!--- Acitivity 2 -->
                <div class="col-span-1 md:col-span-3 justify-center pb-2p pl-1p pr-2p md:pr-5p">
                    <a class="popupbutton" href="#popup2">
                        <div class="w-full min-h-25 sm:min-h-40 bg-cover relative" style="background-image: linear-gradient(rgba(20, 18, 1, 0.6), rgba(20, 18, 1, 0.9)), url({{item.image}})" aria-label="{{item.label}}">
                            <div class="flex items-center justify-center absolute inset-0">
                                <h3 class="text-light uppercase text-2xl text-center"> {{item.title}} </h3>
                            </div>
                        </div>
                    </a>
                </div>

                <!-- Pop-up 2 -->
                <div id="popup2" class="popupoverlay">
                    <div class="popup">
                        <h4 class="pt-5p pb-2p uppercase text-2xl"> {{item.title}} </h4>
                        <a class="close" href="/index.html#activities" onclick="closePopup('popup2')">&times;</a>
                        <div>
                            <p> {{item.description}} </p>
                        </div>
                    </div>
                </div>

    {% endfor %}

    {% for item in page.activity_3 %}

        
                <!------ Acitivity 3 -->
                <div class="col-span-1 md:col-span-3 justify-center pr-1p pb-2p pl-2p sm:pl-0">
                    <a class="popupbutton" href="#popup3">
                        <div class="w-full min-h-25 sm:min-h-40 bg-cover relative" style="background-image: linear-gradient(rgba(20, 18, 1, 0.6), rgba(20, 18, 1, 0.9)), url({{item.image}})" aria-label="{{item.label}}">
                            <div class="flex items-center justify-center absolute inset-0">
                                <h3 class="text-light uppercase text-2xl text-center"> {{item.title}} </h3>
                            </div>
                        </div>
                    </a>
                </div>

                <!-- Pop-up 3 -->
                <div id="popup3" class="popupoverlay">
                    <div class="popup">
                        <h4 class="pt-5p pb-2p uppercase text-2xl"> {{item.title}} </h4>
                        <a class="close" href="/index.html#activities" onclick="closePopup('popup3')">&times;</a>
                        <div>
                            <p> {{item.description}} </p>
                        </div>
                    </div>
                </div>

    {% endfor %}

    {% for item in page.activity_4 %}
        
                <!----- Acitivity 4 -->
                <div class="col-span-1 md:col-span-3 justify-center pb-2p pl-1p pr-2p md:pr-5p">
                    <a class="popupbutton" href="#popup4">
                        <div class="w-full min-h-25 sm:min-h-40 bg-cover relative" style="background-image: linear-gradient(rgba(20, 18, 1, 0.6), rgba(20, 18, 1, 0.9)), url(/images/temp-landscape.jpg)" aria-label="{{item.label}}">
                            <div class="flex items-center justify-center absolute inset-0">
                                <h3 class="text-light uppercase text-2xl text-center"> {{item.title}} </h3>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        
            <!-- Pop-up 4 -->
            <div id="popup4" class="popupoverlay">
                <div class="popup">
                    <h4 class="pt-5p pb-2p uppercase text-2xl"> {{item.title}} </h4>
                    <a class="close" href="/index.html#activities" onclick="closePopup('popup4')">&times;</a>
                    <div>
                        <p> {{item.description}} </p>
                    </div>
                </div>
            </div>

        {% endfor %}