





<div class="box-be-custom">
	<div class="row sqs-row">
		<div class="col-12 col-sm-6 col-lg">
			<label id="check-in-label">Check in:</label>
			<input type="date" class="input-be date-check-in" name="check-in" id="check-in" onclick="WarningCheckIn()">
		</div>
		<div class="col-12 col-sm-6 col-lg padding-be-label">
			<label id="check-out-label">Check out:</label>
			<input type="date" class="input-be date-check-out" name="check-out" id="check-out" onclick="WarningCheckOut()">
		</div>
		<div class="col-12 padding-be-button">
			<label></label>
			<button type="button" onclick="OnBook()" class="btn-book-now">Book Now</button>
		</div>
	</div>
</div>













