<header class="px-5p flex justify-between items-center ">
    <nav class="flex justify-center items-center flex-wrap">

        <!-- Hamburger menu wrapper with new class -->
        <div id="burger-wrapper" class="hamburger-wrapper hamburger-menu-container active">
            <div class="hamburger-menu">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

        <div class="mobile-menu flex items-center justify-center">
            <nav>
                <a href="/index.html" class="w-32 sm:w-36 flex items-center justify-center" aria-label="Go to the homepage">
                    {% include dejama-logo-black.html %}
                </a>
                <a href="/lodging.html" class="mt-15p" aria-label="View our lodging options"> Lodging </a>
                <a href="/index.html#property" aria-label="Learn more about our property"> Property </a>
                <a href="/index.html#restaurant" aria-label="Explore our restaurant"> Restaurant </a>
                <a href="/index.html#activities" aria-label="Discover our activities"> Activities </a>
                <a href="/index.html#sustainability" aria-label="Read about our sustainability efforts"> Sustainability </a>
                <a href="/contact.html" aria-label="Get in touch with us"> Contact </a>
                <div class="pt-15p text-center">
                    <a href="#" target="" class="nav-button" aria-label="Book a stay with us"> Book Now </a>
                </div>
            </nav>
            
        </div>

    </nav>
</header>
