<header class="px-5p flex justify-between items-center ">
    
    <nav class="flex justify-center items-center flex-wrap">
        

        <div class="hamburger-wrapper">
            <div class="hamburger-menu">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

        <div class="mobile-menu">
            <nav>
                <a href="/rooms.html"> Lodging </a>
                <a href="#property"> Property </a>
                <a href="#restaurant"> Restaurant </a>
                <a href="#activities"> Activities </a>
                <a href="#sustainability"> Sustainability </a>
                <a href="/contact.html"> Contact </a>
                <div>
                    <a href="#" target="" class="nav-button"> Book Now </a>
                </div>
            </nav>
        </div>

    </nav>

</header>