<footer >
    
    <div class="lg:grid lg:grid-cols-3 lg:gap-5 pt-10p px-5p sm:pt-10p lg:pt-5p">
    
        <div class="text-center py-10p">
            <a href="/index.html" class="inline-block w-40">
                Logo
            </a>
            <p class="mb-4 text-lg"> Unwind and Relax in the beautiful nature of Lombok </p>
            <div>
                <a href="#" target="" class="nav-button"> Book Now </a>
            </div>
        </div>
    
    
        <div class="text-center sm:hidden lg:block  pt-15p lg:pt-0">
            <nav>
                <a href="/rooms.html" class="block"> Lodging </a>
                <a href="/index.html#property" class="block"> Property </a>
                <a href="/index.html#restaurant" class="block"> Restaurant </a>
                <a href="/index.html#activities" class="block"> Activities </a>
                <a href="/index.html#sustainability" class="block"> Sustainability </a>
                <a href="/contact.html" class="block"> Contact </a>
            </nav>
        </div>
    
        <div class="text-center sm:hidden lg:block lg:text-left py-10p lg:py-0">
            <nav>
                <a href="#" target="_blank"> <i class="fa-regular fa-envelope"></i> </a>
                <a href="#" target="_blank"> <i class="fa-solid fa-phone"></i> </a>
                <a href="#" target="_blank"> <i class="fa-brands fa-whatsapp"></i> </a>
                <a href="#" target="_blank"> <i class="fa-brands fa-instagram"></i> </a>
            </nav>
        </div>
    
    <div class="col-span-full text-center px-5p md:px-0">
        <p class="subtle"> © 2024 All rights reserved. <br> Designed and built by Refined Island Creations. </p>
    </div>
</div>
    
</footer>

