<footer class="max-w-screen-2xl mx-auto">
    <div class="md:grid md:grid-cols-3 md:gap-5 pt-15p sm:pt-10p px-15p md:px-5p md:pt-5p">
        <div class="text-center flex flex-col items-center justify-center"> <!-- Updated styling for vertical alignment -->
            <div class="w-32 sm:w-36 mx-auto mb-10p sm:mb-5p"> 
                <a href="/index.html">
                    {% include dejama-logo-text-black.html %}
                </a>
            </div>
            <div class="mt-5"> 
                <a href="#" target="" class="nav-button"> Book Now </a>
            </div>
        </div>
    
    
        <div class="text-center pt-20p sm:pt-15p md:pt-0">
            <nav class="flex flex-col justify-center items-center h-full uppercase">
                <a href="/lodging.html" class="block pb-2p"> Lodging </a>
                <a href="/index.html#property" class="block pb-2p"> Property </a>
                <a href="/index.html#restaurant" class="block pb-2p"> Restaurant </a>
                <a href="/index.html#activities" class="block pb-2p"> Activities </a>
                <a href="/index.html#sustainability" class="block pb-2p"> Sustainability </a>
                <a href="/contact.html" class="block"> Contact </a>
            </nav>
        </div>
    
        <div class="text-center lg:text-left py-20p sm:pt-15p sm:pb-10p md:py-0">
            <nav class="flex justify-center items-center h-full ">
                <a href="#" target="_blank" class="pr-5p"> <i class="fa-solid fa-phone"></i> </a>
                <a href="#" target="_blank" class="pr-5p"> <i class="fa-regular fa-envelope"></i> </a>
                <a href="#" target="_blank" class="pr-5p"> <i class="fa-brands fa-whatsapp"></i> </a>
                <a href="#" target="_blank"> <i class="fa-brands fa-instagram"></i> </a>
            </nav>
        </div>
    
    <div class="col-span-full text-center px-5p md:px-0 pt-5p pb-2p">
        <p class="subtle text-sm">© 2024 All rights reserved. <br>
            <a href="https://refinedislandcreations.com/" target="_blank" rel="noopener noreferrer" aria-label="Link to Refined Island Creations website design and development">Designed and built by <span class="underline"> Refined Island Creations</span>.</a>
        </p>
    </div>
</div>
    
</footer>

