<footer class="max-w-screen-2xl mx-auto">
    <div class="md:grid md:grid-cols-3 md:gap-5 pt-15p sm:pt-10p px-15p md:px-5p md:pt-5p">
        <div class="text-center flex flex-col items-center justify-center"> <!-- Updated styling for vertical alignment -->
            <div class="w-32 sm:w-36 mx-auto mb-10p sm:mb-5p"> 
                <a href="/index.html">
                    {% include dejama-logo-text-black.html %}
                </a>
            </div>
            <div class="mt-5"> 
                <a href="https://secure.guestpro.net/dejama/booking" target="" class="nav-button" aria-label="Book Now"> Book Now </a>
            </div>
        </div>
    
    
        <div class="text-center pt-20p sm:pt-15p md:pt-0">
            <nav class="flex flex-col justify-center items-center h-full uppercase">
                <a href="/lodging.html" class="block pb-2p" aria-label="View our lodging options">Lodging</a>
                <a href="/index.html#property" class="block pb-2p" aria-label="Learn more about our property">Property</a>
                <a href="/index.html#restaurant" class="block pb-2p" aria-label="Explore our restaurant">Restaurant</a>
                <a href="/index.html#activities" class="block pb-2p" aria-label="Discover our activities">Activities</a>
                <a href="/index.html#sustainability" class="block pb-2p" aria-label="Read about our sustainability efforts">Sustainability</a>
                <a href="/contact.html" class="block" aria-label="Get in touch with us">Contact</a>
            </nav>            
        </div>
    
        <div class="text-center lg:text-left py-20p sm:pt-15p sm:pb-10p md:py-0">
            <nav class="flex justify-center items-center h-full">
                <a href="tel:+6285939549442" target="_blank" class="pr-5p" aria-label="Call us at +62 859 3954 9442"> 
                    <i class="fa-solid fa-phone"></i> 
                </a>
                <a href="mailto:info@dejamaresort.com" target="_blank" class="pr-5p" aria-label="Send us an email at info@dejamaresort.com"> 
                    <i class="fa-regular fa-envelope"></i> 
                </a>
                <a href="https://wa.me/6285939549442" target="_blank" class="pr-5p" aria-label="Chat with us on WhatsApp"> 
                    <i class="fa-brands fa-whatsapp"></i> 
                </a>
                <a href="https://www.instagram.com/dejamaresort/" target="_blank" aria-label="Visit our Instagram profile"> 
                    <i class="fa-brands fa-instagram"></i> 
                </a>
            </nav>
            
            
        </div>

    <!-- Payment Methods and Terms & Conditions -->
    <div class="col-span-full text-center px-5p">
            <a href="/termsandconditions.html" target="_blank" rel="noopener noreferrer" class="text-blue-600 hover:underline" aria-label="Link to see our terms and conditions">Terms & Conditions</a>
    </div>
    
    <div class="col-span-full text-center px-5p md:px-0 pt-5p pb-2p">
        <p class="subtle text-sm">© 2024 All rights reserved. <br>
            <a href="https://refinedislandcreations.com/" target="_blank" rel="noopener noreferrer" aria-label="Link to Refined Island Creations website design and development">Designed and built by <span class="underline"> Refined Island Creations</span>.</a>
        </p>
    </div>
</div>
    
</footer>

