

<div class="py-15p sm:py-10p sm:px-2p" id="activities">
    <div class="max-w-screen-2xl mx-auto grid grid-cols-2 md:grid-cols-7 md:grid-rows-2">
        <div class="col-span-2 md:col-span-1 md:row-span-2 md:relative md:flex md:justify-center md:items-start">
            <h4 class="md:[writing-mode:vertical-rl] md:rotate-180 text-4xl sm:text-7xl lg:text-8xl font-semibold uppercase m-0 pl-2p sm:pl-0 md:p-0"> Activities </h4>
        </div>

                <!--- Picnic -->
                <div class="col-span-1 md:col-span-3 justify-center pr-1p pb-2p pl-2p sm:pl-0 ">
                    <a class="popupbutton" href="#popup1">
                            <div class="w-full min-h-25 sm:min-h-40 bg-cover relative" style="background-image: linear-gradient(rgba(20, 18, 1, 0.6), rgba(20, 18, 1, 0.9)), url(/images/temp-landscape.jpg)" aria-label="">
                                <div class="flex items-center justify-center absolute inset-0">
                                    <h3 class="text-light uppercase text-2xl"> Picnic </h3>
                                </div>
                            </div>
                        </a>
                </div>
        
                <!--- Yoga -->
                <div class="col-span-1 md:col-span-3 justify-center pb-2p pl-1p pr-2p md:pr-5p">
                    <a class="popupbutton" href="#popup2">
                        <div class="w-full min-h-25 sm:min-h-40 bg-cover relative" style="background-image: linear-gradient(rgba(20, 18, 1, 0.6), rgba(20, 18, 1, 0.9)), url(/images/temp-landscape.jpg)" aria-label="">
                            <div class="flex items-center justify-center absolute inset-0">
                                <h3 class="text-light uppercase text-2xl"> Spa </h3>
                            </div>
                        </div>
                    </a>
                </div>
        
                <!------ Spa -->
                <div class="col-span-1 md:col-span-3 justify-center pr-1p pb-2p pl-2p sm:pl-0">
                    <a class="popupbutton" href="#popup3">
                        <div class="w-full min-h-25 sm:min-h-40 bg-cover relative" style="background-image: linear-gradient(rgba(20, 18, 1, 0.6), rgba(20, 18, 1, 0.9)), url(/images/temp-landscape.jpg)" aria-label="">
                            <div class="flex items-center justify-center absolute inset-0">
                                <h3 class="text-light uppercase text-2xl"> Spa </h3>
                            </div>
                        </div>
                    </a>
                </div>
        
                <!----- Yoga -->
                <div class="col-span-1 md:col-span-3 justify-center pb-2p pl-1p pr-2p md:pr-5p">
                    <a class="popupbutton" href="#popup4">
                        <div class="w-full min-h-25 sm:min-h-40 bg-cover relative" style="background-image: linear-gradient(rgba(20, 18, 1, 0.6), rgba(20, 18, 1, 0.9)), url(/images/temp-landscape.jpg)" aria-label="">
                            <div class="flex items-center justify-center absolute inset-0">
                                <h3 class="text-light uppercase text-2xl"> Cooking </h3>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        
            <!-- Pop-up 1 -->
            <div id="popup1" class="popupoverlay">
                <div class="popup">
                    <h4 class="pt-5p pb-2p uppercase text-2xl">Picnic</h4>
                    <a class="close" href="/index.html#activities" onclick="closePopup('popup1')">&times;</a>
                    <div>
                        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas expedita perspiciatis recusandae natus, illo eveniet fuga. Magnam sit atque quasi quibusdam esse debitis deserunt eius suscipit possimus dolorum. Inventore, qui!</p>
                    </div>
                </div>
            </div>
        
            <!-- Pop-up 2 -->
            <div id="popup2" class="popupoverlay">
                <div class="popup">
                    <h4 class="pt-5p pb-2p uppercase text-2xl">Spa</h4>
                    <a class="close" href="/index.html#activities" onclick="closePopup('popup2')">&times;</a>
                    <div>
                        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas expedita perspiciatis recusandae natus, illo eveniet fuga. Magnam sit atque quasi quibusdam esse debitis deserunt eius suscipit possimus dolorum. Inventore, qui!</p>
                    </div>
                </div>
            </div>
        
            <!-- Pop-up 3 -->
            <div id="popup3" class="popupoverlay">
                <div class="popup">
                    <h4 class="pt-5p pb-2p uppercase text-2xl">Spa</h4>
                    <a class="close" href="/index.html#activities" onclick="closePopup('popup3')">&times;</a>
                    <div>
                        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas expedita perspiciatis recusandae natus, illo eveniet fuga. Magnam sit atque quasi quibusdam esse debitis deserunt eius suscipit possimus dolorum. Inventore, qui!</p>
                    </div>
                </div>
            </div>
        
            <!-- Pop-up 4 -->
            <div id="popup4" class="popupoverlay">
                <div class="popup">
                    <h4 class="pt-5p pb-2p uppercase text-2xl">Cooking</h4>
                    <a class="close" href="/index.html#activities" onclick="closePopup('popup4')">&times;</a>
                    <div>
                        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas expedita perspiciatis recusandae natus, illo eveniet fuga. Magnam sit atque quasi quibusdam esse debitis deserunt eius suscipit possimus dolorum. Inventore, qui!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
        
        
            <p class="text-center pt-5p pb-2p"> Reach out directly to get more information about our activities and book. </p>
        
            <div class="text-center ">
                <a href="/contact.html" target="" class="button"> Get in touch today </a>
            </div>
        
        </div>